SECRET_KEY={{ ehpanel_webmail_secret_key }}
DEBUG=false
ALLOWED_HOSTS={{ ehpanel_webmail_allowed_hosts }}
CSRF_TRUSTED_ORIGINS={{ ehpanel_webmail_csrf_trusted_origins }}
DATABASE_URL={{ ehpanel_webmail_database_url }}
IMAP_HOST={{ ehpanel_webmail_imap_host }}
IMAP_PORT={{ ehpanel_webmail_imap_port }}
SMTP_HOST={{ ehpanel_webmail_smtp_host }}
SMTP_PORT={{ ehpanel_webmail_smtp_port }}
SMTP_USE_TLS={{ ehpanel_webmail_smtp_use_tls }}
SMTP_AUTH_REQUIRED={{ ehpanel_webmail_smtp_auth_required }}
EHPANEL_WEB_URL={{ ehpanel_webmail_panel_url }}
WEBMAIL_SSO_SECRET={{ ehpanel_webmail_sso_secret }}
MAIL_ATTACHMENT_LIMIT_MB={{ ehpanel_webmail_attachment_limit_mb }}
MAIL_MAX_UPLOAD_MB={{ ehpanel_webmail_max_upload_mb }}
DRIVE_MOCK_ROOT={{ ehpanel_webmail_drive_root }}
COMPOSE_UPLOAD_ROOT={{ ehpanel_webmail_compose_upload_root }}
SESSION_COOKIE_DOMAIN=
SECURE_SSL_REDIRECT=false
