[Unit]
Description=EHPanel Web local metrics refresh
After=network-online.target postgresql.service nginx.service lshttpd.service
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory={{ ehpanel_web_panel_root }}
EnvironmentFile={{ ehpanel_web_panel_env_file }}
ExecStart={{ ehpanel_web_panel_venv }}/bin/python manage.py refresh_local_metrics
PrivateTmp=true
