DEBUG={{ ehpanel_web_panel_debug }}
APP_VERSION={{ ehpanel_web_panel_app_version }}
SECRET_KEY={{ ehpanel_web_panel_secret_key }}
DBTOOLS_SSO_SECRET={{ ehpanel_web_panel_dbtools_sso_secret | default(ehpanel_web_panel_secret_key, true) }}
DBTOOLS_CREDENTIAL_KEY={{ ehpanel_web_panel_dbtools_credential_key | default(ehpanel_web_panel_secret_key, true) }}
WEBMAIL_SSO_SECRET={{ ehpanel_web_panel_webmail_sso_secret | default(ehpanel_web_panel_secret_key, true) }}
WEBMAIL_SSO_URL=
ALLOWED_HOSTS={{ ehpanel_web_panel_domain }},{{ inventory_hostname }},localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS={{ ehpanel_web_panel_public_url }}
PUBLIC_PANEL_URL={{ ehpanel_web_panel_public_url }}
BILLING_PANEL_SSO_MAX_AGE={{ ehpanel_web_panel_billing_sso_max_age }}
SECURE_SSL_REDIRECT=false
SECURE_PROXY_SSL_HEADER=true
TRUSTED_PROXY_IPS=127.0.0.1,::1

DATABASE_URL={{ ehpanel_web_panel_database_url }}
REDIS_URL={{ ehpanel_web_panel_redis_url }}
CHANNEL_LAYER_BACKEND=redis

INTERNAL_BILLING_API_TOKEN={{ ehpanel_web_panel_billing_token }}
BILLING_WEBHOOK_TOKEN={{ ehpanel_web_panel_billing_token }}
BILLING_API_BASE={{ ehpanel_web_panel_billing_api_base }}
BILLING_API_TOKEN={{ ehpanel_web_panel_billing_api_token }}
CORE_API_USER={{ ehpanel_web_panel_core_api_user }}
CORE_API_KEY={{ ehpanel_web_panel_core_api_key }}
CORE_ALLOW_DEPLOY={{ ehpanel_web_panel_core_allow_deploy }}
CORE_DEPLOY_SCRIPT={{ ehpanel_web_panel_core_deploy_script }}

HOSTING_PROVISIONING_MODE=local
HOSTING_DEFAULT_WEB_ENGINE=openlitespeed
LOCAL_PANEL_HOSTNAME={{ ehpanel_web_panel_local_hostname }}
LOCAL_PANEL_DATACENTER={{ ehpanel_web_panel_local_datacenter }}
LOCAL_PUBLIC_IP={{ ehpanel_web_panel_local_public_ip }}
LOCAL_PROVISIONING_HELPER={{ ehpanel_web_panel_local_helper }}
LOCAL_BACKGROUND_JOB_RUNNER={{ ehpanel_web_panel_local_job_runner }}
LOCAL_PROVISIONING_DRY_RUN={{ ehpanel_web_panel_local_dry_run }}
LOCAL_PROVISIONING_SUDO={{ ehpanel_web_panel_local_sudo }}
LOCAL_HOME_ROOT={{ ehpanel_web_panel_local_home_root }}
LOCAL_NGINX_VHOSTS_DIR={{ ehpanel_web_panel_local_nginx_vhosts_dir }}
LOCAL_OLS_HOME={{ ehpanel_web_panel_local_ols_home }}
LOCAL_OLS_BACKEND_PORT={{ ehpanel_web_panel_local_ols_backend_port }}
LOCAL_PANEL_BACKEND={{ ehpanel_web_panel_local_panel_backend }}
LOCAL_PANEL_HOST_HEADER={{ ehpanel_web_panel_local_panel_host_header }}
LOCAL_PROVISION_DNS={{ ehpanel_web_panel_provision_dns }}
LOCAL_PROVISION_SSL={{ ehpanel_web_panel_provision_ssl }}
LOCAL_PROVISION_MAIL={{ ehpanel_web_panel_provision_mail }}
LOCAL_WEBMAIL_ENABLED={{ ehpanel_web_panel_local_webmail_enabled }}
LOCAL_WEBMAIL_ROOT={{ ehpanel_web_panel_local_webmail_root }}
LOCAL_WEBMAIL_PORT={{ ehpanel_web_panel_local_webmail_port }}
LOCAL_DOVECOT_PASSWD_FILE={{ ehpanel_web_panel_local_dovecot_passwd_file }}
LOCAL_POSTFIX_VIRTUAL_DOMAINS_FILE={{ ehpanel_web_panel_local_postfix_virtual_domains_file }}
LOCAL_POSTFIX_VIRTUAL_MAILBOXES_FILE={{ ehpanel_web_panel_local_postfix_virtual_mailboxes_file }}
LOCAL_FILE_MANAGER_TEMP_ROOT={{ ehpanel_web_panel_local_file_manager_temp_root }}
LOCAL_MOODLE_DOWNLOAD_URL={{ ehpanel_web_panel_local_moodle_download_url }}
